
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.head{
    background-color:white;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;
    margin: 20px;
    padding: 10px;
}

.slotmachine{
    margin: 0 auto;
    width: 400px;
    border: 2px solid gray;
    height: 300px;
    text-align: center;
    background-color: rgb(241, 228, 228);
}