.container{
    width: 700px;
    margin: auto;
    border: 2px solid black;
}
.head{
    text-align: center;
    background-color: rgb(196, 181, 181);
}
.btn{
    background-color: black;
    color: white;
    width: 100%;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
}